<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="manifest" href="/site.webmanifest">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/static/lib/easymde/easymde.min.css">
	<script src="/static/lib/easymde/easymde.min.js"></script>
	<script src="/static/lib/mermaid/mermaid.min.js"></script>
	<script src="/static/lib/mathjax/tex-mml-chtml.js"></script>
	<script src="/static/lib/sweetalert2/sweetalert2.all.min.js"></script>
	<script src="/static/js/mdvault.js"></script>
	<style>.cm-comment { font-family: Monospace; }</style>
</head>
<body>
	<textarea id="editor"></textarea>
	<script src="/static/js/easymde.js"></script>
	<script>editor.value({{ .Markdown }});</script>
</body>
</html>
