<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ .Title }}</title>
	<script src="static/mdvault.js"></script>
</head>
<body>
	<button id="create-button">Create {{ .Title }}</button>
	<script>
		document.getElementById('create-button').addEventListener('click', function() {
			createFile()
		});
	</script>
</body>
</html>
