<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ .Title }}</title>
</head>
<body>
	<button id="create-button">Create {{ .Title }}</button>
	<script>
		document.getElementById('create-button').addEventListener('click', function() {
			fetch(window.location.href, {
				method: 'PUT',
				headers: { 'Content-Type': 'text/markdown' },
				body: ''
			})
			.then(() => {
				window.location.reload();
			})
			.catch((error) => {
				alert('Error creating file: ' + error);
			});
		});
	</script>
</body>
</html>
