<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="static/simplemde/simplemde.min.css">
	<script src="static/simplemde/simplemde.min.js"></script>
	<script src="static/mdvault.js"></script>
</head>
<body>
	<textarea id="editor"></textarea>
	<script src="static/simplemde.js"></script>
	<script>editor.value({{ .Markdown }});</script>
</body>
</html>
