<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="static/simplemde/simplemde.min.css">
	<script src="static/simplemde/simplemde.min.js"></script>
</head>
<body>
	<textarea id="editor"></textarea>
	<script>
		function saveFile(editor) {
			fetch(window.location.href, {
				method: 'PUT',
				headers: { 'Content-Type': 'text/markdown' },
				body: editor.value()
			})
			.catch((error) => {
				alert('Error saving file: ' + error);
			});
		}

		function deleteFile(editor) {
			fetch(window.location.href, {
				method: 'DELETE'
			})
			.then(() => {
				window.location.reload();
			})
			.catch((error) => {
				alert('Error deleting file: ' + error);
			});
		}

		var editor = new SimpleMDE({
			element: document.getElementById('editor'),
			toolbar: [
				{
					name: "save",
					action: saveFile,
					className: "fa fa-save",
					title: "Save",
				},
				{
					name: "delete",
					action: deleteFile,
					className: "fa fa-trash",
					title: "Delete",
				},
				"|",
				"bold", "italic", "heading", "|",
				"quote", "unordered-list", "ordered-list", "|",
				"link", "image", "|",
				"preview", "side-by-side", "fullscreen", "|",
				"guide"
			]
		});

		document.addEventListener('keydown', function(e) {
			if ((e.ctrlKey || e.metaKey) && e.key === 's') {
				e.preventDefault();

				saveFile(editor);
			}
		});

		editor.value({{ .Markdown }});
	</script>
</body>
</html>
